@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

.skills_main_container{
    width: inherit;
}

.skills_section{
    background-color: #161031;
    width: 100%;
}
.skills_title{
    font-family: Poppins;
    font-weight: 900;
    font-size: 42px;
}
.dot{
    color:var(--color-purple-700);
}

.projects_main_container{
    display: grid;
}