

.skills_main_container{
    width: inherit;
}

.skills_section{
    background-color: #161031;
    width: 100%;
}
.skills_title{
    font-family: Poppins;
    font-weight: 900;
    font-size: 42px;
}
.dot{
    color:var(--color-purple-700);
}

.projects_main_container{
    display: grid;
}

.project_card:hover {
   border:solid #6e11b0 0.2px;
}

.project_card:hover h3 {
    color:#6e11b0;
}